{% extends "layout/layout.twig" %}

{% block title %} MOMF blog | Recent articles {% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" >
                <div id="content-wrapper">
                    Administration side MOMF
                </div>
            </div>
        </div>
    </div>

{% endblock %}