{% extends "layout/exception.twig" %}
{% block title %} Exception {% endblock %}
    {% block css %}
        <link href="/css/404-exception.css" rel="stylesheet" type="text/css"  media="all" />
    {% endblock %}
{% block content %}
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="/">Exception occurred!</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <p>
                <span>
                    <label>O</label>hh..... Something wrong with MOMF blog, we try to fix it.
                </span>

            </p>
            <p>{{ errorMessage }}</p>
            <a href="/">Back To Home</a>
            <div class="copy-right">
                <p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
{% endblock %}